@import "~bootstrap/scss/bootstrap.scss";
body{
    background-color: #32343b;
}
.theUpperDiv{
    color: white; 
    overflow: hidden;
}
.esteDiv{
    width: 80%; height: 300px; border-radius: 21px 21px 0 0;
}
.display-4 {
    color: #383832;
    font-family: 'Roboto Mono', monospace;
}
button{
    margin-top: 10px;
}